body {
  margin: 0em;
  padding: 0;
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background: #eee; 
  font-size: 9pt;
}

/* use german by default */
.ln-en { display: none; }

a, a:hover, a:visited { 
  text-decoration: none; 
  color:#039;
}

#main { 
  background: #fff;
  width: 1000px; 
  margin: 0 auto;
}
#header {
  height: 150px; 
  width: 1000px;
  background-color: #577FBB;
}
#globalnav {
  background-color: #577FBB;
  line-height: 2.5em;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  padding: 0 0 0 1.25em;
  margin: 0;
}
#globalnav li {
  border-right: 1px solid #8BAFDF;
  display: inline;
  float: left;
  margin: 0 -1px 0 0;
  border-left:: 1px solid #8CACBB;
}
#globalnav li a, #globalnav li a:hover, #globalnav li a:visited {
  border: 0;
  color: white;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0 1.5em;
  text-transform: none;
  background-color: transparent;
  height: auto;
}
#globalnav li a:hover { 
  color: #039; 
}
#nav dl {
  width: 200px;
  padding: 0 0 0 5px;
  margin: 15px 0 0 0;
}
#nav dt {
  background-color: #E3E8EE;
  border-top: 1px solid #8CACBB;
  border-bottom: 1px solid #8CACBB;
  font-weight: bold;
  color: #039;
  padding: 5px;
  text-align: left;
}
#nav dt a {
  line-height: 1em;
}
#nav dd {
  line-height: 1.5em;
  margin: 0;
  padding: 10px 0px 0px 10px;
}
.navTree {
  padding: 0;
  margin: 0 0 15px 0;
}
.navTree li {
  list-style: none;
  line-height: 2em;
}
.navTree a, .navTree a:hover, .navTree a:visited {
  color: #000;
}
#search input.textType {
  border: 1px solid #DDD;
  border-color: #666 #DDD #DDD #666;
  background: white url(http://www.gbv.de/input_background.png) repeat-x;
  font-size: 1em;
}
#search input.submit {
  background: transparent url(http://www.gbv.de/linkTransparent.png) 9px 1px no-repeat;
  color: black;
  cursor: pointer;
  font-size: 85%;
  padding: 1px 1px 1px 15px;
  text-transform: lowercase;
  border: 1px solid #8CACBB;
}
#search div {
  margin-bottom: 10px;
}

#content { 
  float: right;
  margin-left: -205px;
  width: 99%;
}
#content-wrapper {
  margin: 0 5px 0 205px;
  padding: 11px 5px 0;
}

h1 {
  color: #039;
  font-size: 1.50em;
  border-bottom: 1px solid #8CACBB;
  font-weight: normal;
}

.dblist {
  font-size: 1.2em;
  padding-bottom: 1em;
}
.dblist ul {
  margin: 0;
  padding: 0 0 0 2em;
}
.dblist li {
  margin: 0.1em;
}
.dblist > ul.clist {
  padding: 0;
}
ul.clist {
  list-style: none;
  padding: 0em 0 0 1em;
}
.clist a.dbentry, a.cfolder, a.collapsed {
   background-image: url(../img/bullet.gif);
   background-position: 0 1px;
   background-repeat: no-repeat;
   padding-left: 24px;
}
.clist a.cfolder {
  background-image: url(../img/minus.gif);
}
.clist a.collapsed {
  background-image: url(../img/plus.gif);
}


.clearboth { clear: both; }

#footer {
  border-top: 12px solid #6791C9;
  background-color: white;
  font-size: 0.8em;
  margin: 1em 0pt 1em 0pt;
  width: 100%;
}
#footer ul {
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  margin: 0 1em;
  padding: 0;
}
#footer li {
  display: inline;
  float: left;
  width: 25%;
  margin: 0.5em 0px;
}
