/*
 * File:	obnmenu.css
 * Purpose:	OCLC PICA OBNmenu styling
 * Method:	CSS
 *
 * SCCS ident : @(#)obnmenu.css	1.1 08/17/04
 **********************************************************************/
.lightgrey {
    background-color:   #ffffff;
}

.grey {
    background-color:   #cccccc;
}

.green {
    background-color:   #577fbb;
}

.oeb_rot {
    background-color:   #ce0039;
}

.white {
    background-color:   #ffffff;
}

.small {
    font-family:        arial,verdana;
    font-size:          6pt;
}
TD {
    font-family:        verdana,arial;
    font-size:          10pt;
}
TD.td_buttonbar:hover { color: #ffffff; background-color: #e8e8e8; }
TD.td_buttonbar_selected { background-color: #ffffff; }
TD.top_buttonbar {
   text-decoration: none;
   color: #000000;
   margin: 0pt;
   height: 16px;
   padding: 0px 10px 0px 10px;
   border-left: 1px solid #577fbb;
}
TD.top_buttonbar:hover { color: #ffffff; background-color: #e8e8e8; }

.midd {
    vertical-alignment: middle;
}

.header {
    font-size:          1.2em;
    font-family:        verdana,arial;
    font-weight:        bold;
    color:              black;
}

.inlinesep {
    font-family:        arial,verdana;
    font-size:          9pt;
    font-weight:        normal;
    color:              #808080;
}

.nav {
    font-size:          9pt;
    font-family:        arial,verdana,helvetica,sans-serif;
    color:              black;
}

.copyright {
    font-size:          8pt;
    font-family:        arial,verdana,helvetica,sans-serif;
    color:              black;
}

.alphabet {
    font-family:        arial,verdana;
    font-size:          9pt;
}

A {
    text-decoration:    none;
}
A:link    { color: #003399; }
A:active  { color: red;  }
A:visited { color: #003399; }
A.buttonbar:link    {color: black; }
A.buttonbar:visited {color: black; }

A.coloredbar:link    {color: white; }
A.coloredbar:visited    {color: white; }

A.top_buttonbar {
   text-decoration: none;
   color: #000000;
   margin: 0pt;
   height: 12px;
   padding: 0px 10px 0px 10px;
   border-left: 1px solid #577fbb;
}

input.button {
    font-family:        arial,verdana,helvetica,sans-serif;
    font-size:          9pt;
    background-color:   #cccccc;
    border-width:       thin;
    border-style:       solid;
    border-color:       #eeeeee;
    color:              black;
}

INPUT.term {
    font-size:          9pt;
    width:		100px;
}

BODY {
    font-size:          9pt;
    font-family:        arial,verdana;
    font-weight:        normal;
    color:              black;
    margin-left:        0pt;
    margin-right:       0pt;
    margin-top:         0pt;
    margin-bottom:      0pt;
}
