.dblist ul {
  margin: 0;
  padding: 0 0 0 2em;
}
.dblist li {
  margin: 0.1em;
}
.dblist > ul.clist {
  padding: 0;
}
ul.clist {
  list-style: none !important;
  padding: 0em 0 0 1em;
}
.clist a.dbentry, a.cfolder, a.collapsed {
   background-image: url(./img/bullet.gif) !important;
   background-position: 0 1px !important;
   background-repeat: no-repeat !important;
   padding-left: 24px !important;
}
.clist a.cfolder {
  background-image: url(./img/minus.gif) !important;
}
.clist a.collapsed {
  background-image: url(./img/plus.gif) !important;
}
