
/* - IEFixes.css - */
@media screen {
/* https://www.gbv.de/portal_css/IEFixes.css?original=1 */
/* */
* html #portal-columns {
width: 100%;
}
* html*#portal-columns {
width: auto;
}
input {
margin-bottom: 1px; /* */
}
table.listing td.top {
/* */
position: relative;
left: -1px;
top: -1px;
}
div#portal-columns div#portal-column-one,
div#portal-columns div#portal-column-two {
overflow: hidden;
}
textarea {
width: 97%;
}
.visualOverflow {
width: 88%;
}
.visualGhosted {
filter:alpha(opacity=20);
}
/* */
* html abbr .explain {
border-bottom: 1px dotted Black;
}
/* */
#portal-colophon .colophonIcon {
height: 0px !important;
height /**/: 15px;
}
.actionMenu .actionMenuHeader a {
display: inline;
}
.actionMenu .actionMenuContent {
top: 1.4em;
}
/* */
.ploneCalendar {
border-collapse:collapse;
width:auto;
height:1%;
}
.ploneCalendar td {
width:1%;
}
.ploneCalendar .todaynoevent,
.ploneCalendar .todayevent {
position: relative;
}
.hiddenStructure { /* */
position: absolute;
}
#floatholder, #float {
height: 1%;
}
* html .link-external,
* html .link-external a,
* html .link-mailto a,
* html .link-mailto {
height: 1%;
}
/* */
.visualIEFloatFix,
* html h1,
* html h2,
* html h3,
* html h4,
* html h5,
* html h6,
* html dd,
* html .documentDescription,
* html .visualClear,
* html .portalMessage,
* html .portalWarningMessage,
* html .portalStopMessage,
* html .system-message,
* html #error-handling {
height: 0.1%;
}
/* */
* html p {
position: relative;
}
* html h1.documentFirstHeading {
height: auto;
}
/* */
dd.portletFooter {
border-top-style: solid;
}
/* */
.portletTopRight,
.portletTopLeft {
top: 0px;
}
.portletTopRight,
.portletTopLeft,
.portletBottomRight,
.portletBottomLeft {
font-size: 1px;
}
/* */
body.fullscreen #portal-searchbox {
overflow: visible;
}
/* */
table.ploneCalendar caption {
display: none !important;
}
/* */
/* */
#portal-globalnav li a {
zoom: 1;
}
.hiddenStructure {
text-indent: 9999px;
}
/* */
.actionSeparator {
white-space: nowrap;
}
/* */
#livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
}
.LSTable {
margin-left: 0;
}
/* */
* html .livesearchContainer {
border: 1px solid #8cacbb;
padding: 0 !important;
}
/* */
* html #region-content form {
width: 94%;
}
body.kupu-fulleditor-zoomed #portal-columns {
overflow: visible;
}
/* */
#portal-top {
position:relative;
}
/* */
#portal-siteactions li a {
zoom:1;
}
ul#portal-siteactions {
padding:0;
}
* html #portal-siteactions li a {
background:none;
cursor:hand;
display:inline-block;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.gbv.de/sa-bg.png', sizingMethod='crop');
}
* html .section-root #portal-siteactions li a:hover {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.gbv.de/sa-hover-bg.png', sizingMethod='scale');
}
#portal-logo {
display:inline-block;
}
/* */
#searchGadget {
vertical-align:top;
}
.portletSearch .portletItem,
.LSBox {
zoom:1;
}
* html .portletSearch .portletItem {
height:auto;
}
.portletSearch .searchButton {
margin:0 0 0 -1px !important;
}
* html .portletSearch .searchButton {
width:34%;
}
* html .portletSearch .searchButton {
margin-left:-7px !important;
}
* html .livesearchContainer {
border:1px solid #BBBBBB;
padding:0 !important;
}
* html .livesearchContainer {
clear:left;
}
#livesearchLegend {
margin-top:-1.9em;
margin-left:-8px;
}
input.searchPage {
vertical-align:top;
}
form.searchPage input.searchButton {
margin-top:1px;
vertical-align:top;
}
/* */
* html #portal-globalnav {
height:1%;
}
#portal-globalnav li a {
float:left;
}
/* */
* html #portal-personaltools li a {
cursor:hand;
display:block;
margin-bottom:-2px;
padding:0px 7px;
}
* html #portal-personaltools li a:hover {
background:#74AE0B;
color:#fff;
}
.documentContent {
zoom:1;
}
* html #portal-column-two .portletWrapper {
display:inline;
float:none;
vertical-align:top;
zoom:1;
}
p.bottomAbsoluteLink {
filter:alpha(opacity=50);
}
* html p.bottomAbsoluteLink {
bottom /**/: 0;
width: 100%;
}
* html #portal-sitemap li {
height: 1%;
}
.portletCalendar dd {
height: 1%;
}
.contentViews li a {
border-bottom: 0;
zoom: 1;
}
.contentViews .selected a {
bottom: -1px;
position: relative;
}
* html #region-content form {
width: 94%;
}
body.kupu-fulleditor-zoomed #portal-columns {
overflow: visible;
}
.documentContent ol {
margin-left:25px;
}
.documentContent ul {
margin-left:17px;
}
/* */
* html body {
text-align /**/:center;
}
* html #visual-portal-wrapper {
text-align /**/:left;
}
/* */

}

